<div th:fragment="header">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <div class="container d-flex align-items-center justify-content-center border-bottom">
        <a class="me-5 py-2 link-body-emphasis text-decoration-none" href="https://ennorathmod.ru">
            <p>Еннорат</p>
        </a>
        <a class="me-5 py-2 link-body-emphasis text-decoration-none" href="https://ennorathmod.ru/forum">
            <p>Форум</p>
        </a>
        <a class="me-5 py-2 link-body-emphasis text-decoration-none" href="/">
            <p class="fs-5">ENNORATH MOD</p>
            <a class="me-5 py-2 link-body-emphasis text-decoration-none" href="/rating">
                <p>Рейтинг</p>
            </a>
        </a>
        <a class="me-5 py-2 link-body-emphasis text-decoration-none" href="/profile">
            <p>Профиль</p>
        </a>
    </div>
</div>