<!DOCTYPE html>
<html data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Create room</title>
    <link th:href="@{/css/registerCss.css}" rel="stylesheet">
</head>
<body>
<form method="POST" th:action="@{/room/addRoom}" th:object="${room}">
    <div>
        <label for="game">Game:</label>
        <select id="game" th:field="*{game}">
            <option th:each="game : ${gameList}" th:value="${game.id}" th:text="${game.getNameWithRank()}"></option>
        </select>
        <label> Имя комнаты: <input type="text" name="nameRoom"/> </label>
        <span th:if="${#fields.hasErrors('game')}" th:errors="*{game}"></span>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<button onclick="goBack()">Back</button>
</body>
</html>